@font-face{
	font: ('../fonts/Aloha.otf');
	font-family: "Aloha";
}
*{
	padding: 0;
	margin:0;
}
body{
	background-image: url('../img/wait.png');
	background-size: cover;
	font-family: "Aloha";
}
.pageLink{
	margin-top: 8%;
	margin-left: 3%;
	font-size: 2em;
	color: #fff;
}
.stateInfo{
	margin-top: 30%;
	margin-left: 40%;
	position: absolute;
	width: 40%;
	float: left;
	text-transform: uppercase;
}
.stateInfo h2{
	color: #a1a3a5;
	font-size: 2.3em;
}
.stateInfo p{
	color: #fff;
}
